.link {
  height: 50px;
  width: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-white);
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 0 0 0 5px;
}

.linkInner {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.linkLabel {
  width: 100px;
  margin-left: var(--mantine-spacing-md);
  margin-right: var(--mantine-spacing-xl);
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-sm);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
